.main-content {
  scroll-behavior: smooth;
  padding: 0px 15%;
  overflow: hidden;
  .content-section {
    padding-top: 50px;
    width: 100%;
  }
}
@media only screen and (max-width: 540px) {
  .main-content {
    padding: 0px 10%;
  }
}
@media only screen and (max-width: 320px) {
  .main-content {
    padding: 0px 5%;
  }
}
