<div class="section-title section-right">
  <h2>Contact</h2>
</div>
<div class="contact">
  <p>
    {{
      languageService.selectedLanguage === "fr"
        ? "Je serai heureux de recevoir votre message si vous souhaitez échanger à propos de nouvelles opportunités. N'hésitez pas à me contacter par e-mail à "
        : "I'll be happy to receive your message if you're interested in discussing new opportunities. Please feel free to contact me via email at "
    }}
    <span>
      <a href="mailto:micheljulien1403&#64;gmail.com" target="_blank">
        micheljulien1403&#64;gmail.com
      </a>
    </span>
    {{
      languageService.selectedLanguage === "fr"
        ? " ou me retrouver sur "
        : " or find me on "
    }}
    <span>
      <a href="https://www.linkedin.com/in/jumic/" target="_blank"
        >Linkedin</a
      > </span
    >.
  </p>
  <p>
    {{
      languageService.selectedLanguage === "fr"
        ? "Je répondrai dès que je verrai votre message."
        : "I'll respond as soon as I see your message."
    }}
  </p>
</div>
