<div class="mean-system">
  <div
    id="mean"
    [ngStyle]="{ 'background-image': 'url(' + getMeanLogo() + ')' }"
  ></div>

  <div class="orbit mongo-orbit"></div>
  <div class="mongo-spin">
    <div
      id="mongo"
      [ngStyle]="{ 'background-image': 'url(' + getMongoLogo() + ')' }"
    ></div>
  </div>

  <div class="orbit express-orbit"></div>
  <div class="express-spin">
    <div
      id="express"
      [ngStyle]="{ 'background-image': 'url(' + getExpressLogo() + ')' }"
    ></div>
  </div>

  <div class="orbit angular-orbit"></div>
  <div class="angular-spin">
    <div class="orbit typescript-orbit"></div>
    <div class="typescript-spin">
      <div
        id="typescript"
        [ngStyle]="{ 'background-image': 'url(' + getTypescriptLogo() + ')' }"
      ></div>
    </div>
    <div class="orbit sass-orbit"></div>
    <div class="sass-spin">
      <div
        id="sass"
        [ngStyle]="{ 'background-image': 'url(' + getSassLogo() + ')' }"
      ></div>
    </div>

    <div
      id="angular"
      [ngStyle]="{ 'background-image': 'url(' + getAngularLogo() + ')' }"
    ></div>
  </div>

  <div class="orbit node-orbit"></div>
  <div class="node-spin">
    <div
      id="node"
      [ngStyle]="{ 'background-image': 'url(' + getNodeLogo() + ')' }"
    ></div>
  </div>
</div>
